.topnav{text-align:center;
  font-size: 60px;
    color: #333;	
    position:center;
    border-color: black;
	margin-top: 5%;
	padding: 10px 50px 10px 50px;
}

.midnav{text-align:center;
	font-size: 30px;
	  color: #333;
	  border: 2px black;
	  border-radius: 15px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  padding-left: 10px;
	  padding-right: 10px;
	  position:center;
	  background-color:dodgerblue;
	  border-color: black;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 80px;
	  margin-bottom: 80px;
	  max-width: 270px;
  }

  .midnav2{text-align:center;
	font-size: 30px;
	  color: #333;
	  border: 2px black;
	  border-radius: 15px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  padding-left: 10px;
	  padding-right: 10px;
	  position:center;
	  background-color:dodgerblue;
	  border-color: black;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 80px;
	  margin-bottom: 80px;
	  max-width: 270px;
  }

.midnav3{text-align:center;
  font-size: 30px;
    color: #333;
	border: 2px black;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
    position:center;
  	background-color:dodgerblue;
    border-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	max-width: 270px;
}

.footer {text-align:center;
  font-size: 50px;
    color: #333;
	position:center;	
}

{
    margin:0;
    padding:0;  
}

h2 {
    font-size:30px;
    color: #66CCFF;
    font-family: Calibri Light (Headings);
}

form{
    margin:40px;
}

label{
    font-family: Calibri Light (Headings);
}

input{
    font-family: Calibri Light (Headings);
    width:300px;
    padding: 10px;
}
.exit{
	text-align: center;
	text-size-adjust: 50;
}
.register{
    background: url(photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size:20px;
	color: #66CCFF;
	background-size: 100%;
}
